// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1440;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

//Colors
$primary: #001731;
$secondary: #398BFF;
$secondaryHover: #0f54b6;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: 'white';
$burgerActiveColor: 'white';


// Fonts
$fontMain: 'Gilroy', sans-serif;

